[access]
	inheritFrom = mediawiki/extensions
[access "refs/*"]
	owner = group Administrators
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
	description = MediaWiki extension Renameuser.
[allowSuperproject "mediawiki/extensions"]
	matching = refs/heads/master:refs/heads/master
